*{
    padding:0;
    margin:0;
}

body,html{
    overflow-x: hidden;
    background-color:rgb(46, 39, 39);
}

header{
    position:fixed;
    width:100%;
    height:auto;
    background-color:rgb(95, 83, 141);   
    text-align: center;
}

.nav{
    display: inline;
}

.title{
    text-decoration: none;
}

.title:link{
    color:black;
}

.title:visited{
    color:black;
}

.title:hover{
    color:white;    
}

.laptop{
    height:50%;
    width:50%;
    display:block;
    margin:auto;
}

figcaption{
    text-align:center;
    color:white;
}

table, th, td{
    border:1px solid white;
    color:white;
}

.container{
    position:relative;
    height:90vh;
    margin-top: 28px;
}

.text{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.tableContainer{
    width:max-content;
    margin:100px auto 0 auto;
}

.color{
    color:white;
}

.pic{
    height:40%;
    width:40%;
    display:block;
    margin:auto;
}

.video{
    height:400px;
    width:300px;
    
}